.Wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    margin-top: -5rem;
  }

  .HeadingContainer {
    text-align: center;
    margin-bottom: 2rem;

    @media (max-width: 991px) {
      margin-bottom: 1rem;
    }
  }

  .Logo {
    width: 125px;
    margin-top: -4rem;
    margin-bottom: 1rem;

    @media (max-width: 991px) {
      margin-top: 0;
    }
  }

  .Title {
    color: var(--ProjectText);
  }
}