.Wrapper {
  margin-bottom: 1rem;

  .Uploader {
    &.Hide {
      display: none;
    }
  }

  .PreviewWrapper {
    width: max-content;
    position: relative;
    margin: auto;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    .Loading {
      display: block;
      margin: auto;
    }

    .Preview {
      display: block;
      margin: auto;
      max-width: 100%;
      height: auto;
      max-height: 100px;
      transition: 0.2s opacity;

      &:hover ~ .ChangeBtn {
        opacity: 1;
      }
    }

    .ChangeBtn {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 2rem;
      transform: translate(-50%, -50%);
      color: var(--primary);
      transition: 0.2s opacity;

      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}