.Wrapper {
  .Title {
    @media (max-width: 767px) {
      margin-bottom: 1rem;
    }
  }

  .ActionBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    max-width: 800px;
    margin: 0 auto 2rem;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}