.SidebarWrapper {
  display: flex;
  flex-direction: column;
  z-index: 200;
  width: 250px;
  min-height: 100vh;
  background-color: var(--textBox);
  -webkit-transition: transform .25s ease-out;
  -moz-transition: transform .25s ease-out;
  -o-transition: transform .25s ease-out;
  transition: transform .25s ease-out;

  &.Active {
    transform: translateX(0);
  }

  @media (max-width: 991px) {
    transform: translateX(-102%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .Header {
    padding: 1rem 1rem 1rem 0;
    border-bottom: 1px solid var(--primary);
    margin-bottom: 1rem;
    //padding-left: 0;

    .Logo {
      display: block;
      margin: 0 auto 1rem;
      width: 80px;
    }

    .Title {
      text-align: center;
      color: var(--ProjectText);
      margin: 0;
    }
  }

  .Sidebar {
    position: relative;
    flex-direction: column;
    z-index: 100;
  }

  .NavLink {
    display: block;
    padding: 0.7rem 0.75rem;
    transition: all 0.2s ease-in;

    &:hover {
      color: var(--textBoxText);
      text-decoration: none;
      background-color: var(--background);
    }

    .Icon {
      margin-right: 0.25rem;
    }
  }

  .Footer {
    margin-top: auto;
    border-top: 1px solid var(--primary);
  }

  .LogoutBtn {
    width: 100%;
    padding: 1rem;
    border-radius: 0;

    &:hover {
      color: var(--ProjectText);
      background-color: var(--background);
      text-decoration: none;
    }

    .Icon {
      margin-left: 0.5rem;
    }
  }
}

.SidebarWrapper.Active ~ .Overlay {
  z-index: 1;

  @media (max-width: 991px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}