.Wrapper {
  width: 100%;
  position: fixed;
  padding: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  height: var(--mobileTopBarHeight);
  background-color: var(--background);
  z-index: 100;

  @media (min-width: 992px) {
    display: none;
  }

  .SidebarOpenIcon {
    font-size: 1.8rem;
    color: var(--primary);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  .Logo {
    width: 50px;
    height: auto;
    margin-bottom: 0.25rem;
  }
}