.modal-content {
    max-width: 400px;
    /*margin: -3rem auto 0;*/
    margin: auto;
    border-radius: 0;
    border: 1px solid var(--textBox);
    background-color: var(--background);
    box-shadow: 0 0 10px rgba(137,126,126,.2);
}